<div id="details" class="span6">

	<table class="table table-striped table-condensed">
		<tr>
			<td>De</td>
			<td class="value">
				<%= @request.src_email_address %>
			</td>
		</tr>
		<% if @request.sasl_username %>
			<tr>
				<td>SASL</td>
				<td class="value">
					<%= @request.sasl_username %>
				</td>
			</tr>
		<% end %>
		<tr>
			<td>Para</td>
			<td class="value"><%= display_dst_emails @request.dst_email_address %></td>
		</tr>
		<tr>
			<td>Origen</td>
			<td class="value">
				<%= @request.src_ipaddress %>
				<% unless @request.src_hostname.blank? %> 
					(<%= @request.src_hostname %> )
				<% end %>
			</td>
		</tr>
		<tr>
			<td>Fecha</td>
			<td class="value">
				<%= l @request.created_at.to_date, :format => :month_day_year %> - 
				<%= l @request.created_at, :format => :time_only%>
			</td>
		</tr>
		<tr>
			<td>Termino</td>
			<td class="value">
				<% unless @request.closed_at.nil? %>
					<%= l @request.closed_at.to_date, :format => :month_day_year %> - 
					<%= l @request.closed_at, :format => :time_only%>
				<% end %>
			</td>
		</tr>
	</table>

</div>