<div id="basic-stats" class="span6 well">
		<div class="stats-header">
			<h4>Indicadores</h4>
		</div>
		<div class="content">
			<table class="table table-striped table-condensed">
				<tbody>
					<tr>
						<td>Correos</td>
						<td class="stat-value"><%= display_metrics(@metrics.request_qty) %></td>
					</tr>
					<tr>
						<td>Correos bloqueados (AS/AV)</td>
						<td class="stat-value"><%= display_metrics(@metrics.blocked_qty) %></td>
					</tr>
					<tr>
						<td>Envíos</td>
						<td class="stat-value"><%= display_metrics(@metrics.sent_qty) %></td>
					</tr>
					<tr>
						<td>Envíos rechazados</td>
						<td class="stat-value"><%= display_metrics(@metrics.failed_qty) %></td>
					</tr>
					<tr>
						<td>Tráfico de Red</td>
						<td class="stat-value"><%= number_to_human_size(@metrics.request_bytes || 0, :separator => ",") %></td>
					</tr>
					<tr>
						<td>Destinatarios</td>
						<td class="stat-value"><%= display_metrics(@metrics.dst_emails_count) %></td>
					</tr>
					<tr>
						<td>Remitentes</td>
						<td class="stat-value"><%= display_metrics(@metrics.src_emails_count) %></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>