<!DOCTYPE html>
<html>
<head>
  <title>Carterapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#">
					CarterApp
				</a>
				<div id="user-greet">
					<%= link_to current_user.email, edit_user_path(current_user) %> |
					<%= link_to "Salir", destroy_user_session_path, :method => :delete %>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
	  <div class="row-fluid">
	    <div id="main" class="well">
		<%= render "shared/main_bar" %>
	      <%= yield %>
	    </div>
	  </div>
	</div>

	</body>

</body>
</html>
